In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('train.csv', encoding='CP949')
data.head()

,custid,gender,총구매액,구매건수,평균구매가격,평균할부개월수,구매브랜드종류,내점일수,수입상품_구매비율,주말방문비율,가을_구매건수,겨울_구매건수,봄_구매건수,여름_구매건수,아침_구매건수,저녁_구매건수,점심_구매건수,주구매코너
0,18,0,680100,15,45340,1.7,9,10,26.7,100.0,NaN,9.0,6.0,NaN,NaN,6.0,9.0,화장품
1,21,0,353450,9,39272,1.2,6,8,11.1,37.5,NaN,5.0,4.0,NaN,3.0,NaN,6.0,영캐주얼
2,23,0,5671400,36,157539,2.8,22,16,5.6,37.5,7.0,17.0,12.0,NaN,10.0,11.0,15.0,장신구
3,26,0,1964000,28,70143,1.4,15,14,39.3,28.6,5.0,8.0,15.0,NaN,NaN,18.0,10.0,화장품
4,35,0,885000,5,177000,6.0,5,2,0.0,100.0,NaN,NaN,5.0,NaN,NaN,5.0,NaN,피혁A

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   custid     5000 non-null   int64
 1   gender     5000 non-null   int64
 2   총구매액       5000 non-null   int64
 3   구매건수       5000 non-null   int64
 4   평균구매가격     5000 non-null   int64
 5   평균할부개월수    5000 non-null   float64
 6   구매브랜드종류    5000 non-null   int64
 7   내점일수       5000 non-null   int64
 8   수입상품_구매비율  5000 non-null   float64
 9   주말방문비율     5000 non-null   float64
 10  가을_구매건수    4055 non-null   float64
 11  겨울_구매건수    4103 non-null   float64
 12  봄_구매건수     4311 non-null   float64
 13  여름_구매건수    3978 non-null   float64
 14  아침_구매건수    3558 non-null   float64
 15  저녁_구매건수    4033 non-null   float64
 16  점심_구매건수    4855 non-null   float64
 17  주구매코너      5000 non-null   object
dtypes: float64(10), int64(7), object(1)
memory usage: 703.2+ KB

In [4]:
data2=data.drop(['가을_구매건수','겨울_구매건수','봄_구매건수','여름_구매건수'],axis=1)
data2.head()

,custid,gender,총구매액,구매건수,평균구매가격,평균할부개월수,구매브랜드종류,내점일수,수입상품_구매비율,주말방문비율,아침_구매건수,저녁_구매건수,점심_구매건수,주구매코너
0,18,0,680100,15,45340,1.7,9,10,26.7,100.0,NaN,6.0,9.0,화장품
1,21,0,353450,9,39272,1.2,6,8,11.1,37.5,3.0,NaN,6.0,영캐주얼
2,23,0,5671400,36,157539,2.8,22,16,5.6,37.5,10.0,11.0,15.0,장신구
3,26,0,1964000,28,70143,1.4,15,14,39.3,28.6,NaN,18.0,10.0,화장품
4,35,0,885000,5,177000,6.0,5,2,0.0,100.0,NaN,5.0,NaN,피혁A

In [5]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   custid     5000 non-null   int64
 1   gender     5000 non-null   int64
 2   총구매액       5000 non-null   int64
 3   구매건수       5000 non-null   int64
 4   평균구매가격     5000 non-null   int64
 5   평균할부개월수    5000 non-null   float64
 6   구매브랜드종류    5000 non-null   int64
 7   내점일수       5000 non-null   int64
 8   수입상품_구매비율  5000 non-null   float64
 9   주말방문비율     5000 non-null   float64
 10  아침_구매건수    3558 non-null   float64
 11  저녁_구매건수    4033 non-null   float64
 12  점심_구매건수    4855 non-null   float64
 13  주구매코너      5000 non-null   object
dtypes: float64(6), int64(7), object(1)
memory usage: 547.0+ KB

In [6]:
data2.isnull().sum()

custid          0
gender          0
총구매액            0
구매건수            0
평균구매가격          0
평균할부개월수         0
구매브랜드종류         0
내점일수            0
수입상품_구매비율       0
주말방문비율          0
아침_구매건수      1442
저녁_구매건수       967
점심_구매건수       145
주구매코너           0
dtype: int64

In [7]:
data2.아침_구매건수.fillna(round(data.가을_구매건수.min(),0), inplace=True)
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   custid     5000 non-null   int64
 1   gender     5000 non-null   int64
 2   총구매액       5000 non-null   int64
 3   구매건수       5000 non-null   int64
 4   평균구매가격     5000 non-null   int64
 5   평균할부개월수    5000 non-null   float64
 6   구매브랜드종류    5000 non-null   int64
 7   내점일수       5000 non-null   int64
 8   수입상품_구매비율  5000 non-null   float64
 9   주말방문비율     5000 non-null   float64
 10  아침_구매건수    5000 non-null   float64
 11  저녁_구매건수    4033 non-null   float64
 12  점심_구매건수    4855 non-null   float64
 13  주구매코너      5000 non-null   object
dtypes: float64(6), int64(7), object(1)
memory usage: 547.0+ KB

In [8]:
data2.저녁_구매건수.fillna(round(data.저녁_구매건수.min(),0), inplace=True)
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   custid     5000 non-null   int64
 1   gender     5000 non-null   int64
 2   총구매액       5000 non-null   int64
 3   구매건수       5000 non-null   int64
 4   평균구매가격     5000 non-null   int64
 5   평균할부개월수    5000 non-null   float64
 6   구매브랜드종류    5000 non-null   int64
 7   내점일수       5000 non-null   int64
 8   수입상품_구매비율  5000 non-null   float64
 9   주말방문비율     5000 non-null   float64
 10  아침_구매건수    5000 non-null   float64
 11  저녁_구매건수    5000 non-null   float64
 12  점심_구매건수    4855 non-null   float64
 13  주구매코너      5000 non-null   object
dtypes: float64(6), int64(7), object(1)
memory usage: 547.0+ KB

In [9]:
data2.점심_구매건수.fillna(round(data.점심_구매건수.min(),0), inplace=True)
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   custid     5000 non-null   int64
 1   gender     5000 non-null   int64
 2   총구매액       5000 non-null   int64
 3   구매건수       5000 non-null   int64
 4   평균구매가격     5000 non-null   int64
 5   평균할부개월수    5000 non-null   float64
 6   구매브랜드종류    5000 non-null   int64
 7   내점일수       5000 non-null   int64
 8   수입상품_구매비율  5000 non-null   float64
 9   주말방문비율     5000 non-null   float64
 10  아침_구매건수    5000 non-null   float64
 11  저녁_구매건수    5000 non-null   float64
 12  점심_구매건수    5000 non-null   float64
 13  주구매코너      5000 non-null   object
dtypes: float64(6), int64(7), object(1)
memory usage: 547.0+ KB

In [10]:
data2.shape

(5000, 14)

In [11]:
data2.dtypes

custid         int64
gender         int64
총구매액           int64
구매건수           int64
평균구매가격         int64
평균할부개월수      float64
구매브랜드종류        int64
내점일수           int64
수입상품_구매비율    float64
주말방문비율       float64
아침_구매건수      float64
저녁_구매건수      float64
점심_구매건수      float64
주구매코너         object
dtype: object

In [12]:
obj=['주구매코너']
print(data2['주구매코너'].astype('category').cat.categories)

Index(['가구', '가전', '기타바이어', '니트단품', '도자기크리스탈', '디자이너부띠끄', '문화완구', '섬유', '수입명품',
       '스포츠', '엘레강스캐주얼', '영캐주얼', '유니캐주얼', '유아동복', '일반식품', '장신구', '정장셔츠',
       '조리욕실', '침구수예', '캐릭터캐주얼', '타운모피', '트래디셔널캐주얼', '피혁A', '피혁B', '화장품'],
      dtype='object')

In [13]:
data2[obj].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   주구매코너   5000 non-null   object
dtypes: object(1)
memory usage: 39.2+ KB

In [14]:
data2[obj]

        주구매코너
0         화장품
1        영캐주얼
2         장신구
3         화장품
4         피혁A
...       ...
4995     일반식품
4996  디자이너부띠끄
4997      화장품
4998      피혁A
4999     일반식품

[5000 rows x 1 columns]

In [15]:
def f(x):
    return x+1

pd.Series([1,2,3]).apply(lambda x:x+1)

0    2
1    3
2    4
dtype: int64

In [16]:
data2[obj]=data2[obj].apply(lambda x:x.astype('category').cat.codes)

In [17]:
data2.dtypes

custid         int64
gender         int64
총구매액           int64
구매건수           int64
평균구매가격         int64
평균할부개월수      float64
구매브랜드종류        int64
내점일수           int64
수입상품_구매비율    float64
주말방문비율       float64
아침_구매건수      float64
저녁_구매건수      float64
점심_구매건수      float64
주구매코너           int8
dtype: object

In [18]:
corr = data2.corr()
corr

,custid,gender,총구매액,구매건수,평균구매가격,평균할부개월수,구매브랜드종류,내점일수,수입상품_구매비율,주말방문비율,아침_구매건수,저녁_구매건수,점심_구매건수,주구매코너
custid,1.000000,0.262472,0.217251,0.218914,0.117939,0.093048,0.154303,0.212969,-0.017958,-0.162393,0.194573,0.000800,0.247110,-0.131943
gender,0.262472,1.000000,0.099137,0.094022,0.072181,-0.020066,0.083988,0.084255,-0.021294,0.020457,0.125613,-0.021091,0.097286,-0.039270
총구매액,0.217251,0.099137,1.000000,0.712183,0.376395,0.137335,0.714774,0.617210,-0.048053,-0.048515,0.451684,0.396482,0.709522,-0.141735
구매건수,0.218914,0.094022,0.712183,1.000000,-0.057376,-0.037878,0.869075,0.942115,-0.210022,-0.096558,0.667791,0.641817,0.944980,-0.143826
평균구매가격,0.117939,0.072181,0.376395,-0.057376,1.000000,0.407556,0.002931,-0.091136,0.189608,0.036426,-0.040180,-0.092156,-0.028564,-0.044333
평균할부개월수,0.093048,-0.020066,0.137335,-0.037878,0.407556,1.000000,-0.002074,-0.076343,0.097727,-0.001625,-0.047894,-0.051099,-0.014017,-0.021258
구매브랜드종류,0.154303,0.083988,0.714774,0.869075,0.002931,-0.002074,1.000000,0.780303,-0.234547,-0.080674,0.574871,0.574222,0.813290,-0.166345
내점일수,0.212969,0.084255,0.617210,0.942115,-0.091136,-0.076343,0.780303,1.000000,-0.225363,-0.114795,0.632318,0.632469,0.875744,-0.136688
수입상품_구매비율,-0.017958,-0.021294,-0.048053,-0.210022,0.189608,0.097727,-0.234547,-0.225363,1.000000,0.016123,-0.126775,-0.165468,-0.185219,0.277087
주말방문비율,-0.162393,0.020457,-0.048515,-0.096558,0.036426,-0.001625,-0.080674,-0.114795,0.016123,1.000000,-0.109374,-0.008525,-0.094889,0.064942
아침_구매건수,0.194573,0.125613,0.451684,0.667791,-0.040180,-0.047894,0.574871,0.632318,-0.126775,-0.109374,1.000000,0.138876,0.520905,-0.113058
저녁_구매건수,0.000800,-0.021091,0.396482,0.641817,-0.092156,-0.051099,0.574222,0.632469,-0.165468,-0.008525,0.138876,1.000000,0.471931,-0.073837
점심_구매건수,0.247110,0.097286,0.709522,0.944980,-0.028564,-0.014017,0.813290,0.875744,-0.185219,-0.094889,0.520905,0.471931,1.000000,-0.133953
주구매코너,-0.131943,-0.039270,-0.141735,-0.143826,-0.044333,-0.021258,-0.166345,-0.136688,0.277087,0.064942,-0.113058,-0.073837,-0.133953,1.000000

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
dfX = data2.drop(['custid', 'gender'], axis=1)
dfy = data2['gender']

X_train, X_test, y_train, y_test = train_test_split(dfX, dfy, test_size = 0.25, random_state = 0)

In [21]:
display(X_train.shape, X_test.shape)
X_train

(3750, 12)

(1250, 12)

,총구매액,구매건수,평균구매가격,평균할부개월수,구매브랜드종류,내점일수,수입상품_구매비율,주말방문비율,아침_구매건수,저녁_구매건수,점심_구매건수,주구매코너
4154,404285,3,134762,2.3,3,2,33.3,0.0,1.0,1.0,2.0,22
4820,6169420,38,162353,2.1,29,26,13.2,34.6,13.0,1.0,25.0,10
1202,2407157,32,75224,1.7,22,17,9.4,52.9,3.0,8.0,21.0,14
3759,4664283,78,59798,1.8,24,22,1.3,45.5,1.0,23.0,55.0,14
622,3299200,11,299927,1.9,9,3,45.5,33.3,1.0,1.0,11.0,16
...,...,...,...,...,...,...,...,...,...,...,...,...
4931,7326999,143,51238,1.2,15,115,2.8,33.9,6.0,38.0,99.0,14
3264,152000,1,152000,3.0,1,1,0.0,0.0,1.0,1.0,1.0,24
1653,148000,4,37000,1.0,3,4,50.0,25.0,1.0,2.0,2.0,24
2607,1623380,12,135282,1.3,11,8,8.3,12.5,1.0,1.0,10.0,11
2732,11687368,70,166962,3.2,47,23,17.1,30.4,24.0,3.0,43.0,13

In [22]:
display(X_train.shape, X_test.shape)
X_test

(3750, 12)

(1250, 12)

,총구매액,구매건수,평균구매가격,평균할부개월수,구매브랜드종류,내점일수,수입상품_구매비율,주말방문비율,아침_구매건수,저녁_구매건수,점심_구매건수,주구매코너
398,2487619,46,54079,1.3,22,26,13.0,88.5,4.0,6.0,36.0,14
3833,2182818,39,55970,2.6,19,26,10.3,34.6,10.0,9.0,20.0,9
4836,4862400,21,231543,1.7,19,13,19.0,46.2,1.0,7.0,14.0,19
4572,20340855,70,290584,2.5,26,30,44.3,36.7,21.0,1.0,49.0,24
636,2054544,30,68485,1.7,25,14,6.7,57.1,4.0,16.0,10.0,19
...,...,...,...,...,...,...,...,...,...,...,...,...
465,3914600,36,108739,2.0,23,19,5.6,31.6,1.0,25.0,10.0,19
2670,3530400,33,106982,2.5,24,12,3.0,41.7,1.0,3.0,30.0,9
37,2228100,16,139256,2.5,13,8,6.2,37.5,1.0,11.0,5.0,7
3081,5749900,114,50438,1.9,47,35,16.7,22.9,12.0,60.0,42.0,11
2287,14391212,133,108205,1.8,44,49,0.8,38.8,17.0,23.0,93.0,13

In [23]:
from sklearn.tree import DecisionTreeClassifier

tree = DecisionTreeClassifier(max_depth=6, random_state=0)

tree.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=6, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

In [24]:
display(tree.score(X_test, y_test))

0.6776

In [25]:
new = pd.read_csv("test.csv",encoding='CP949')
new.head()

,custid,총구매액,구매건수,평균구매가격,평균할부개월수,구매브랜드종류,내점일수,수입상품_구매비율,주말방문비율,가을_구매건수,겨울_구매건수,봄_구매건수,여름_구매건수,아침_구매건수,저녁_구매건수,점심_구매건수,주구매코너
0,100001,3439000,25,137560,2.2,19,16,12.0,31.2,5.0,4.0,7.0,9.0,13.0,1.0,11.0,장신구
1,100002,2073090,39,53156,1.3,18,29,0.0,20.7,13.0,8.0,10.0,8.0,4.0,10.0,25.0,유아동복
2,100003,1303800,22,59264,1.8,14,12,0.0,41.7,6.0,7.0,3.0,6.0,3.0,1.0,18.0,유아동복
3,100004,6696522,46,145577,1.7,31,22,37.0,50.0,5.0,15.0,9.0,17.0,NaN,4.0,42.0,수입명품
4,100005,1297640,26,49909,2.3,13,9,11.5,22.2,18.0,NaN,5.0,3.0,NaN,NaN,26.0,스포츠

In [26]:
new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   custid     5000 non-null   int64
 1   총구매액       5000 non-null   int64
 2   구매건수       5000 non-null   int64
 3   평균구매가격     5000 non-null   int64
 4   평균할부개월수    5000 non-null   float64
 5   구매브랜드종류    5000 non-null   int64
 6   내점일수       5000 non-null   int64
 7   수입상품_구매비율  5000 non-null   float64
 8   주말방문비율     5000 non-null   float64
 9   가을_구매건수    4052 non-null   float64
 10  겨울_구매건수    4089 non-null   float64
 11  봄_구매건수     4319 non-null   float64
 12  여름_구매건수    4009 non-null   float64
 13  아침_구매건수    3608 non-null   float64
 14  저녁_구매건수    3975 non-null   float64
 15  점심_구매건수    4861 non-null   float64
 16  주구매코너      5000 non-null   object
dtypes: float64(10), int64(6), object(1)
memory usage: 664.2+ KB

In [27]:
new.아침_구매건수.fillna(round(new.아침_구매건수.min(),0), inplace=True)

In [28]:
new.저녁_구매건수.fillna(round(new.저녁_구매건수.min(),0), inplace=True)

In [29]:
new.점심_구매건수.fillna(round(new.점심_구매건수.min(),0), inplace=True)

In [30]:
new.head()

,custid,총구매액,구매건수,평균구매가격,평균할부개월수,구매브랜드종류,내점일수,수입상품_구매비율,주말방문비율,가을_구매건수,겨울_구매건수,봄_구매건수,여름_구매건수,아침_구매건수,저녁_구매건수,점심_구매건수,주구매코너
0,100001,3439000,25,137560,2.2,19,16,12.0,31.2,5.0,4.0,7.0,9.0,13.0,1.0,11.0,장신구
1,100002,2073090,39,53156,1.3,18,29,0.0,20.7,13.0,8.0,10.0,8.0,4.0,10.0,25.0,유아동복
2,100003,1303800,22,59264,1.8,14,12,0.0,41.7,6.0,7.0,3.0,6.0,3.0,1.0,18.0,유아동복
3,100004,6696522,46,145577,1.7,31,22,37.0,50.0,5.0,15.0,9.0,17.0,1.0,4.0,42.0,수입명품
4,100005,1297640,26,49909,2.3,13,9,11.5,22.2,18.0,NaN,5.0,3.0,1.0,1.0,26.0,스포츠

In [31]:
new.isnull().sum()

custid         0
총구매액           0
구매건수           0
평균구매가격         0
평균할부개월수        0
구매브랜드종류        0
내점일수           0
수입상품_구매비율      0
주말방문비율         0
가을_구매건수      948
겨울_구매건수      911
봄_구매건수       681
여름_구매건수      991
아침_구매건수        0
저녁_구매건수        0
점심_구매건수        0
주구매코너          0
dtype: int64

In [32]:
new2=new.drop(['가을_구매건수','겨울_구매건수','봄_구매건수','여름_구매건수'],axis=1)
new2.head()

,custid,총구매액,구매건수,평균구매가격,평균할부개월수,구매브랜드종류,내점일수,수입상품_구매비율,주말방문비율,아침_구매건수,저녁_구매건수,점심_구매건수,주구매코너
0,100001,3439000,25,137560,2.2,19,16,12.0,31.2,13.0,1.0,11.0,장신구
1,100002,2073090,39,53156,1.3,18,29,0.0,20.7,4.0,10.0,25.0,유아동복
2,100003,1303800,22,59264,1.8,14,12,0.0,41.7,3.0,1.0,18.0,유아동복
3,100004,6696522,46,145577,1.7,31,22,37.0,50.0,1.0,4.0,42.0,수입명품
4,100005,1297640,26,49909,2.3,13,9,11.5,22.2,1.0,1.0,26.0,스포츠

In [33]:
new2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   custid     5000 non-null   int64
 1   총구매액       5000 non-null   int64
 2   구매건수       5000 non-null   int64
 3   평균구매가격     5000 non-null   int64
 4   평균할부개월수    5000 non-null   float64
 5   구매브랜드종류    5000 non-null   int64
 6   내점일수       5000 non-null   int64
 7   수입상품_구매비율  5000 non-null   float64
 8   주말방문비율     5000 non-null   float64
 9   아침_구매건수    5000 non-null   float64
 10  저녁_구매건수    5000 non-null   float64
 11  점심_구매건수    5000 non-null   float64
 12  주구매코너      5000 non-null   object
dtypes: float64(6), int64(6), object(1)
memory usage: 507.9+ KB

In [34]:
obj2=['주구매코너']
print(new2['주구매코너'].astype('category').cat.categories)

Index(['가구', '가전', '기타바이어', '니트단품', '도자기크리스탈', '디자이너부띠끄', '문화완구', '섬유', '수입명품',
       '스포츠', '엘레강스캐주얼', '영캐주얼', '유니캐주얼', '유아동복', '일반식품', '장신구', '정장셔츠',
       '조리욕실', '침구수예', '캐릭터캐주얼', '타운모피', '트래디셔널캐주얼', '피혁A', '피혁B', '화장품'],
      dtype='object')

In [35]:
new2[obj].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   주구매코너   5000 non-null   object
dtypes: object(1)
memory usage: 39.2+ KB

In [36]:
new2[obj]

     주구매코너
0      장신구
1     유아동복
2     유아동복
3     수입명품
4      스포츠
...    ...
4995  일반식품
4996  조리욕실
4997  일반식품
4998   화장품
4999  일반식품

[5000 rows x 1 columns]

In [37]:
def f(x):
    return x+1

pd.Series([1,2,3]).apply(lambda x:x+1)

0    2
1    3
2    4
dtype: int64

In [38]:
new2[obj]=new2[obj].apply(lambda x:x.astype('category').cat.codes)

In [39]:
new2.dtypes

custid         int64
총구매액           int64
구매건수           int64
평균구매가격         int64
평균할부개월수      float64
구매브랜드종류        int64
내점일수           int64
수입상품_구매비율    float64
주말방문비율       float64
아침_구매건수      float64
저녁_구매건수      float64
점심_구매건수      float64
주구매코너           int8
dtype: object

In [40]:
new2.head()

,custid,총구매액,구매건수,평균구매가격,평균할부개월수,구매브랜드종류,내점일수,수입상품_구매비율,주말방문비율,아침_구매건수,저녁_구매건수,점심_구매건수,주구매코너
0,100001,3439000,25,137560,2.2,19,16,12.0,31.2,13.0,1.0,11.0,15
1,100002,2073090,39,53156,1.3,18,29,0.0,20.7,4.0,10.0,25.0,13
2,100003,1303800,22,59264,1.8,14,12,0.0,41.7,3.0,1.0,18.0,13
3,100004,6696522,46,145577,1.7,31,22,37.0,50.0,1.0,4.0,42.0,8
4,100005,1297640,26,49909,2.3,13,9,11.5,22.2,1.0,1.0,26.0,9

In [41]:
new2['gender']=tree.predict(new2.loc[:,'총구매액':'주구매코너'])
new2.head()

,custid,총구매액,구매건수,평균구매가격,평균할부개월수,구매브랜드종류,내점일수,수입상품_구매비율,주말방문비율,아침_구매건수,저녁_구매건수,점심_구매건수,주구매코너,gender
0,100001,3439000,25,137560,2.2,19,16,12.0,31.2,13.0,1.0,11.0,15,0
1,100002,2073090,39,53156,1.3,18,29,0.0,20.7,4.0,10.0,25.0,13,0
2,100003,1303800,22,59264,1.8,14,12,0.0,41.7,3.0,1.0,18.0,13,0
3,100004,6696522,46,145577,1.7,31,22,37.0,50.0,1.0,4.0,42.0,8,0
4,100005,1297640,26,49909,2.3,13,9,11.5,22.2,1.0,1.0,26.0,9,0

In [45]:
new2['pre_gender']=tree.predict_proba(new2.loc[:,'총구매액':'주구매코너'])[:,1]

In [46]:
new2.head()

,custid,총구매액,구매건수,평균구매가격,평균할부개월수,구매브랜드종류,내점일수,수입상품_구매비율,주말방문비율,아침_구매건수,저녁_구매건수,점심_구매건수,주구매코너,gender,pre_gender
0,100001,3439000,25,137560,2.2,19,16,12.0,31.2,13.0,1.0,11.0,15,0,0.376923
1,100002,2073090,39,53156,1.3,18,29,0.0,20.7,4.0,10.0,25.0,13,0,0.310160
2,100003,1303800,22,59264,1.8,14,12,0.0,41.7,3.0,1.0,18.0,13,0,0.279826
3,100004,6696522,46,145577,1.7,31,22,37.0,50.0,1.0,4.0,42.0,8,0,0.331288
4,100005,1297640,26,49909,2.3,13,9,11.5,22.2,1.0,1.0,26.0,9,0,0.279826

In [47]:
target=new2.query('gender==1 & pre_gender>0.7')
target.sort_values(by="pre_gender", ascending=False).to_csv("pre_gender과제.csv", index=False)
pd.read_csv("pre_gender과제.csv").head()

,custid,총구매액,구매건수,평균구매가격,평균할부개월수,구매브랜드종류,내점일수,수입상품_구매비율,주말방문비율,아침_구매건수,저녁_구매건수,점심_구매건수,주구매코너,gender,pre_gender
0,102726,5172100,57,90739,2.5,15,16,26.3,0.0,22.0,1.0,35.0,24,1,1.0
1,102908,3173900,31,102384,1.1,22,20,9.7,30.0,5.0,4.0,22.0,3,1,1.0
2,103838,9607387,64,150115,2.0,37,31,17.2,29.0,7.0,2.0,55.0,14,1,1.0
3,103833,17380400,115,151134,1.6,45,59,4.3,18.6,4.0,14.0,97.0,13,1,1.0
4,103752,14754927,67,220223,2.2,40,23,20.9,13.0,3.0,19.0,45.0,14,1,1.0